# Variables

In [2]:
var_a = 0.123

In [3]:
print(var_a)

0.123

In [4]:
type(var_a)

float

# Data Types

In [6]:
# This is declaring a variable as a string 
test_var = 'Pluto'
print(test_var)

Pluto

In [7]:
type(test_var)

str

In [10]:
# This is declaring a variable as an integer 
int_var = 134373
print(int_var)

134373

In [11]:
type(int_var)

int

In [31]:
int_var + 10

134383

In [34]:
# This is declaring a variable as a float 
float_var = 124.151513251
print(float_var)

124.151513251

In [36]:
type(float_var)

float

In [38]:
# This is declaring a boolean value to a variable 
bool_var = True
print(bool_var)

True

In [40]:
type(bool_var)

bool

In [42]:
print(bool(0))

False

In [44]:
print(bool(1))

True

In [50]:
type(float(1))

float

In [54]:
# This is declaring a list 
list_var = [1,2,3, 123.456, "Rat"]
print(list_var)

[1, 2, 3, 123.456, 'Rat']

In [60]:
type(list_var)

list

In [78]:
list_var[2]

3

In [79]:
list_var[2] = 555555555555
print(list_var)

[1, 2, 555555555555, 123.456, 'Rat']

In [76]:
# This is defining a TUPLE variable, which is IMMUTABLE (cant change values)
tuple_var = (1,2, 3,  123.456, "Rat")
print(tuple_var)

(1, 2, 3, 123.456, 'Rat')

In [74]:
type(tuple_var)

tuple

In [80]:
tuple_var[2]

3

In [82]:
tuple_var[2] = 123123123
print(tuple_var)

TypeError: 'tuple' object does not support item assignment

In [93]:
# This is creating a set variable, IMMUTABLE (cant change values), No Duplicates
set_var = {1,2, 3,  123.456, "Rat", 3}
print(set_var)

{1, 2, 3, 'Rat', 123.456}

In [94]:
type(set_var)

set

In [102]:
# Tpyecasting list to set back to list to get rid of duplicates
list_var1 = [1, 2, 4, 5, 2, 5, 6, 7, 2, 2, 3, 5, 3, 3, 3, 2, 1]
list(set(list_var1))

[1, 2, 3, 4, 5, 6, 7]

In [105]:
# Defining a dictionary variable 
dict_var = {'name':"Alex", 'fav_colour':"Yellow",'fav_num':2}
print(dict_var)

{'name': 'Alex', 'fav_colour': 'Yellow', 'fav_num': 2}

In [111]:
dict_var['name']

'Alex'

# Lists

In [153]:
# Create 
names = ['Neil', 'Buzz', 'Sally', 'Yuri', 'Elon']

In [154]:
# Read
names[1]

'Buzz'

In [155]:
names[-1]

'Elon'

In [156]:
len(names)

5

In [157]:
# Update

In [158]:
names[-1] = 'Alex'
print(names)

['Neil', 'Buzz', 'Sally', 'Yuri', 'Alex']

In [159]:
names.append('elon')
names

['Neil', 'Buzz', 'Sally', 'Yuri', 'Alex', 'elon']

In [160]:
names.insert(0, 'Richard')
names

['Richard', 'Neil', 'Buzz', 'Sally', 'Yuri', 'Alex', 'elon']

In [117]:
# Delete

In [162]:
del names[-2]
names

['Richard', 'Neil', 'Buzz', 'Sally', 'elon']

# Dictionaries

In [163]:
# Create 
astronuat = {
    'name':"elon",
    'suit_size':"XL",
    'allergies':"Nuts"
}

In [ ]:
# Read

In [166]:
astronuat

{'name': 'elon', 'suit_size': 'XL', 'allergies': 'Nuts'}

In [169]:
astronuat['allergies']

'Nuts'

In [171]:
astronuat.keys()

dict_keys(['name', 'suit_size', 'allergies'])

In [173]:
astronuat.values()

dict_values(['elon', 'XL', 'Nuts'])

In [174]:
# Update

In [177]:
astronuat['allergies'] = "Mangos"

In [179]:
astronuat

{'name': 'elon', 'suit_size': 'XL', 'allergies': 'Mangos'}

In [183]:
astronuat['space_ship'] = "Galactic 1"
astronuat

{'name': 'elon',
 'suit_size': 'XL',
 'allergies': 'Mangos',
 'space_ship': 'Galactic 1'}

In [12]:
# Delete 
del astronuat['space_ship']
astronuat

NameError: name 'astronuat' is not defined